@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Types;
@using EGH01DB.Primitives;
@using EGH01DB;

@model EGH01DB.CEQContext.Report
@{

    Layout = "~/Views/Shared/EGHLayout.cshtml";
    Menu start = new Menu(
                          new Menu.MenuItem("Сохранить отчет", "CEQReport.Save", true),
                          new Menu.MenuItem("Отказаться", "CEQReport.Cancel",  true)
                         );

    RGEContext.Report rgerepot = Model.report;                       

}

@using (Html.BeginForm("ChoiceForecastResult", "EGHCEQ"))
{
    <div class="box">
        <div class="boxdata">
            
            <fieldset form="ChoiseRiskObject">
                <legend> Исходные данные </legend>
                <p>
                    <label class="boxdata-label-40 ">Дата инцидента  </label>
                    @rgerepot.date.ToShortDateString()
                </p>
                <p>
                    <label class="boxdata-label-40 ">Дата регистрации </label>
                    @rgerepot.date_message.ToShortDateString()
                </p>
                <p>
                    <label class="boxdata-label-40 ">Тип нефтепродукта </label>
                    @rgerepot.petrochemicaltype_name
                </p>
                <p>
                    <label class="boxdata-label-40 ">Объем пролива (м<sup>3</sup>) </label>
                    @rgerepot.V0.ToString()
                </p>
                <p>
                    <label class="boxdata-label-40 ">Температура (С) </label>
                    @rgerepot.temperature.ToString()
                <p>
                    <label class="boxdata-label-40 "> Координаты </label>
                    @rgerepot.coordinates.Line()

                </p>
                <p>
                    <label class="boxdata-label-40 "> Объект </label>
                    @rgerepot.riskobject_name
                </p>

            </fieldset>


            <fieldset form="ChoiseRiskObject">
                <legend> Наземное пятно загрязнения (радиус: @( String.Format("радиус: {0} м )", rgerepot.R1) ) </legend>
                
                    <fieldset form="ChoiseRiskObject">
                        <legend> Грунтовый слой</legend>
                        <p>
                            <label class="boxdata-label-40 ">Максимальная концентрация нефтеродукта в грунте (кг/кг)</label>
                            @rgerepot.C3 = @(Math.Round(rgerepot.C3 * Const.KG_to_MG, 3))(мг/кг)
                        </p>
                        <p>
                            <label class="boxdata-label-40 ">Предельно допустимая концентрация в грунте (кг/кг)</label>
                            @Model.pdk_coef = @(Math.Round(Model.pdk_coef * Const.KG_to_MG, 3))(мг/кг)
                        </p>
                        @if (Model.excessgroundconcentration > 1)
                    {
                    <p>
                        <label class="boxdata-label-40 ">Кратность превышения</label>
                        @Model.excessgroundconcentration        @*@(Math.Round(rgerepot.C3/Model.pdk_coef, 2))*@
                    </p>
                    }
                    else
                    {
                    <p>
                        <label class="boxdata-label-40 ">Кратность превышения</label>
                        нет превышения
                    </p>

                    }


                    </fieldset>
                    <fieldset form="ChoiseRiskObject">
                        <legend> Уровень грунтовых вод</legend>
                        <p>
                            <label class="boxdata-label-40 ">Максимальная концентрация на границе грутовых вод (кг/м<sup>3</sup>)</label>
                            @rgerepot.C4  = @(Math.Round(@rgerepot.C4 * Const.KG_to_MG / Const.M3_to_DM3, 3)) (мг/дм<sup>3</sup>)
                        </p>
                        <p>
                            <label class="boxdata-label-40 ">Предельно допустимая концентрация в воде (кг/м<sup>3</sup>)</label>
                            @Model.water_pdk_coef = @(Math.Round(Model.water_pdk_coef * Const.KG_to_MG / Const.M3_to_DM3, 3))(мг/дм<sup>3</sup>)
                        </p>
                        @if (Model.exesswaterconcentration > 1)
                    {
                    <p>
                        <label class="boxdata-label-40 ">Кратность превышения</label>
                        @Model.exesswaterconcentration
                    </p>
                    }
                    else
                    {
                    <p>
                        <label class="boxdata-label-40 ">Кратность превышения</label>
                        нет превышения
                    </p>

                    }

                    </fieldset>
                    <fieldset form="ChoiseRiskObject">
                        <legend> Природоохранные объекты</legend>
                        @foreach ( RGEContext.FEcoObjectsList.FEcoObject eo in  rgerepot.f1ecoobjectslist)
                        {
                            <p>
                                <label class="boxdata-label-40 "> </label> @eo.line
                            </p>
                        }
                        
                    </fieldset>



            </fieldset>  
            @if (rgerepot.l4 > rgerepot.R1)
            {
                
                <fieldset form="ChoiseRiskObject">
                <legend> Подземное пятно загрязнения (@( String.Format("радиус: {0} - {1} м )", rgerepot.R1, rgerepot.l4)) </legend>



                <fieldset form="ChoiseRiskObject">
                    <legend> Природоохранные объекты</legend>
                    @Html.Raw(CEQContext.Report.starttable)
                    @foreach (RGEContext.FEcoObjectsList.FEcoObject eo in rgerepot.f4ecoobjectslist)
                    {
                        <p>
                            <label class="boxdata-label-40 "> </label>  @Html.Raw(Model.linetable(eo))
                        </p>
                    }
                    @Html.Raw(CEQContext.Report.endtable)


                </fieldset>
               </fieldset>
                
            }
            
        </div>
        @Html.Partial("_TypeLineMenu", start)
    </div>
}
















































































