@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@using EGH01DB.Blurs;
@using EGH01DB.Objects;
@using EGH01.Models.EGHRGE;
@model  EGH01.Models.EGHRGE.ForecastViewConext

@{
     
    EGH01.Models.EGHRGE.ForecastViewConext context = Model;
    EGH01DB.RGEContext.ECOForecast0 level0  = Model.ecoforecastx.level0;
    
    
    //this.date = date;
    //this.date_message = date_message;
    //this.incidenttype = incidenttype;
    //this.petrochemicaltype = petrochemicaltype;  // тип НП
    //this.volume = volume;
    //this.temperature = temperature;
    //this.riskobject = riskobject;
    
    
    
}

<div class="boxdata">
    

    <h4>0. Исходные данные</h4>
    <fieldset form="ChoiseRiskObject">
        <legend> Ввод данных </legend>
        <p>
            <label class="boxdata-label-40 ">Дата инцидента  </label>
             @level0.date.ToShortDateString()
        </p>
        <p>
            <label class="boxdata-label-40 ">Дата регистрации </label>
            @level0.date_message.ToShortDateString()
        </p>
        <p>
            <label class="boxdata-label-40 ">Тип инцидента </label>
            @level0.incidenttype.name
        </p>
        <p>
            <label class="boxdata-label-40 ">Тип нефтепродукта </label>
             @level0.petrochemicaltype.name
        </p>

        <p>
            <label class="boxdata-label-40 ">Объем пролива (м<sup>3</sup>) </label>
            @level0.V0
        </p>
       
        @*<p>
            <label class="boxdata-label-40 ">Температура (С) </label>
            @level0.temperature
        </p>*@  
        <p>
            <label class="boxdata-label-40 "> Координаты </label> 
            @level0.riskobject.coordinates.Line()
                  
        </p>  
        
        <p>
            <label class="boxdata-label-40 "> Объект </label>
            @level0.riskobject.name 
        </p>  
        
    </fieldset>
    <fieldset form="ChoiseRiskObject">
        <legend> Справочные данные </legend>
        <p>
            <label class="boxdata-label-40 "> Область, район </label>
            @level0.riskobject.district.region.name обл.,   @level0.riskobject.district.name р-н
        </p>  
        <p>
            <label class="boxdata-label-40 "> Плотность нефтепродукта (кг/м<sup>3</sup>) </label>
            @level0.petrochemicaltype.density
        </p> 

    </fieldset>
    <fieldset form="ChoiseRiskObject">
        <legend> Вычисления </legend>
        <p>
            <label class="boxdata-label-40 ">Масса пролива (кг) </label>
            @level0.M0
        </p>
    </fieldset>

</div>
       
