@using EGH01.Models.EGHRGE;
@using EGH01DB.Primitives;
@using EGH01DB.Objects;
@using EGH01DB.Types;
@using EGH01.Core;
@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Objects;
@using EGH01DB.Types;

@model EGH01DB.RGEContext
@{
    Layout = "~/Views/Shared/EGHLayout.cshtml";
    ViewBag.Title = "MapPoint";
    Menu head = new Menu(
                             );

    Menu create = new Menu(
                  new Menu.MenuItem("Создать", "IndexCreate", true)
                );

}

<head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <!--<script src="https://code.jquery.com/jquery-1.11.2.js" integrity="sha256-WMJwNbei5YnfOX5dfgVCS5C4waqvc+/0fV7W2uy3DyU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
</head>


<div class="box">
    <form>

        <input type="checkbox" id="Layer14" onclick="toggleLayer(layer14)" onchecked><label for="Layer14">Карта населенных пунктов</label>
        <input type="checkbox" id="Layer16" onclick="toggleLayer(layer16)" onchecked><label for="Layer16">Карта растительности</label>
        <input type="checkbox" id="Layer9" onclick="toggleLayer(layer9)" onchecked><label for="Layer9">Геологическая</label>
        <input type="checkbox" id="Layer19" onclick="toggleLayer(layer19)" onchecked><label for="Layer19">Карта солнечной радиации</label>
        <input type="checkbox" id="Layer21" onclick="toggleLayer(layer21)" onchecked><label for="Layer21">Карта четвертичных отложений</label>
    </form>
    <div>
        <label class="boxdata-label-20">Тип объекта:&nbsp; Точка</label>
        <label class="boxdata-label-20">Проекция:&nbsp; EPSG:4326</label>
    </div>
    <div class="row">
        <div class="col-xs-8">

            <div id="map" class="map"></div>
            <div id="mouse-position"></div>
            <form id="options-form">

                <div class="form-inline">
                    <select name="geom-type" id="type" style="display:none">
                        <option value="Point"></option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-xs-4 sidebar">

            <div class="boxdata">
                <p>
                    <label class="boxdata-label-20">Широта</label>
                    <input readonly class="boxdata-input-10" type="text" id="Lngitude" name="Lngitude" value="@ViewData["Lngitude"]" />&deg;
                    <input readonly class="boxdata-input-10" type="text" id="Lng_m" name="Lng_m" value="@ViewData["Lng_m"]" />&acute;
                    <input readonly class="boxdata-input-10" type="text" id="Lng_s" name="Lng_s" value="@ViewData["Lng_s"]" />&quot;

                </p>
                <p>
                    <label class="boxdata-label-20">Долгота</label>
                    <input readonly class="boxdata-input-10" type="text" id="Latitude" name="Latitude" value="@ViewData["Latitude"]" />&deg;
                    <input readonly class="boxdata-input-10" type="text" id="Lat_m" name="Lat_m" value="@ViewData["Lat_m"]" />&acute;
                    <input readonly class="boxdata-input-10" type="text" id="Lat_s" name="Lat_s" value="@ViewData["Lat_s"]" />&quot;

                </p>
            </div>
            <div style="display:none" id="prog">
                <label id="prog"></label>
            </div>
            <div style="display:none" id="divv">

              
          
                <div class="box">
                    <label id="regionn"></label><span id="region"></span>
                    <br>
                    <label id="districtt"></label><span id="district"></span>
                </div>
                <div class="box">
                    <label id="cityy"></label><span id="city"></span>         
                </div>

                <div class="box">
                    <label id="assoc_gr_11"></label><span id="assoc_gr_1"></span>
                    <br>
                    <label id="shtrih_codd"></label><span id="shtrih_cod"></span>
                    <br>
                    <label id="code_legenn"></label><span id="code_legen"></span>
                    <br>
                    <label id="class_formm"></label><span id="class_form"></span>
                    <br>
                    <label id="associastionn"></label><span id="associastion"></span>
                    <br>
                    <label id="code_rgbb"></label><span id="code_rgb"></span>
                    <br>
                    <label id="type_restyy"></label><span id="type_resty"></span>
                    <br>
                    <label id="krap_codee"></label><span id="krap_code"></span>
                    <br>
                    <label id="dop_codee"></label><span id="dop_code"></span>
                </div>
                <div class="box">
                    <label id="aeration_powerr"></label><span id="aeration_power"></span>
                    <br>
                    <label id="average_aeration_powerr"></label><span id="average_aeration_power"></span>
                    <br>
                    <label id="max_aeration_powerr"></label><span id="max_aeration_power"></span>
                    <br>
                    <label id="litologyy"></label><span id="litology"></span>
                   
                </div>
                <div class="boxMap">
                    <label id="gorizont_powerr"></label><span id="gorizont_power"></span>
                    <br>
                    <label id="gorizont_namee"></label><span id="gorizont_name"></span>
                    <br>
                    <label id="litologyQuatt"></label><span id="litologyQuat"></span>
                    <br>
                    <label id="genesys_codee"></label><span id="genesys_code"></span>
                    <br>
                    <label id="genetic_typee"></label><span id="genetic_type"></span>
                    <br>
                    <label id="otdell"></label><span id="otdel"></span>
                    <br>
                    <label id="podotdell"></label><span id="podotdel"></span>
                    <br>
                    <label id="podgorizonn"></label><span id="podgorizon"></span>
                    <br>
                    <label id="litology_codee"></label><span id="litology_code"></span>
                    <br>
                    <label id="geology_indexx"></label><span id="geology_index"></span>
                    <br>
                    <label id="rgbb"></label><span id="rgb"></span>
                    <br>
                    <label id="sistemaa"></label><span id="sistema"></span>
                </div>
                <div class="box">
                    Период 1: Апрель-сентябрь
                    <br>
                    <label id="to_rad00"></label><span id="to_rad0"></span>
                    <br>
                    <label id="average_rad00"></label><span id="average_rad0"></span>
                    <br>
                    <label id="from_rad00"></label><span id="from_rad0"></span>
                 <br>
                    Период 2: Октябрь-Март
                    <br>
                    <label id="to_rad11"></label><span id="to_rad1"></span>
                    <br>
                    <label id="average_rad11"></label><span id="average_rad1"></span>
                    <br>
                    <label id="from_rad11"></label><span id="from_rad1"></span>
                  
                    
                </div>
               

            </div>



           

            <div id="buttons">
                <div class="box">

                    <button id="clear" class="Очистить" title="Очистить"></button>
                    <span id="result"></span>
                    <input type="hidden" id="coords" value="27,54">
                    <button type="button" class="Центр" title="Центр" value="Центр" onclick="centerMap()"></button>
                </div>
            </div>
            <canvas class="ol-unselectable" width="1000" height="5" style="width: 100%; height: 100%;"></canvas>

        </div>
    </div>
</div>
<script type="text/javascript">
    var str = 'http://195.50.2.82:8080/geoserver/EGH/wms?';
    var raster = new ol.layer.Tile({
        source: new ol.source.OSM(),
        name: 'OSM'
    });
    var vector = new ol.layer.Vector({
        source: new ol.source.Vector({
        }),
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'rgba(255, 255, 255, 0.2)'
            }),
            stroke: new ol.style.Stroke({
                color: '#ffcc33',
                width: 2
            }),
            image: new ol.style.Circle({
                radius: 7,
                fill: new ol.style.Fill({
                    color: '#ffcc33'
                })
            })
        })
    });

    var layer1 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_экообъектов_лок',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer1.setVisible(false);
    var layer2 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_Экообъектов_нацпарки',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer2.setVisible(false);

    var layer3 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_экообъектов_респ_знач',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer3.setVisible(false);

    var layer5 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_водоемов',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer5.setVisible(false);

    var layer6 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_водозаборов_и_санит_зон',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer6.setVisible(false);

    var layer7 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_водоохранных_зон_поверх_вод',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer7.setVisible(false);

    var layer8 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_времени_миграции',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer8.setVisible(false);

    var layer9 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_геологическая',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer9.setVisible(false);

    var layer10 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_грунтовых вод',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer10.setVisible(false);

    var layer11 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_густота_речной_сети',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer11.setVisible(false);

    var layer12 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_защищенности_подземных_вод',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer12.setVisible(false);

    var layer13 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_зоны_аэрации',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer13.setVisible(false);

    var layer14 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_населенных_пунктов',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer14.setVisible(false);

    var layer15 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_почв',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer15.setVisible(false);

    var layer16 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_растительности',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer16.setVisible(false);

    var layer17 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_рельефа',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer17.setVisible(false);

    var layer18 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_самоочищения',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer18.setVisible(false);

    var layer19 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_солн_радиации',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer19.setVisible(false);

    var layer20 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': '	EGH:Карта_среднемес_температур',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer20.setVisible(false);

    var layer21 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_четвертичных_отложений',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer21.setVisible(false);

    var layer22 = new ol.layer.Tile({
        source: new ol.source.TileWMS({
            url: str,
            params: {
                'LAYERS': 'EGH:Карта_административного_деления',
                'VERSION': '1.1.1',
                'FORMAT': 'image/png',
                'TILED': true
            },
            serverType: 'geoserver',
        })
    });
    layer22.setVisible(true);

    var layers = [raster, layer1, layer2, layer3, layer5, layer6, layer7, layer8, layer9, layer10, layer11, layer12, layer13, layer14, layer15, layer16, layer17, layer18, layer19, layer20, layer21, layer22, vector];
    var myFormat = function (dgts) {
        return (
            function (coord1) {
                var coord2 = [coord1[1], coord1[0]];
                return ol.coordinate.toStringHDMS(coord2, dgts);
            });
    }
    var mousePositionControl = new ol.control.MousePosition({
        coordinateFormat: myFormat(0),
        projection: 'EPSG:4326',
        className: 'custom-mouse-position',
        target: document.getElementById('mouse-position'),
        undefinedHTML: '&nbsp;'
    });
    var scaleLineControl = new ol.control.ScaleLine();
    var view = new ol.View({
        center: [3200000, 7100000],
        zoom: 6.8
    })
    var map = new ol.Map({
        controls: ol.control.defaults({
            attributionOptions:
            ({
                collapsible: false
            }),
        }).extend([mousePositionControl, scaleLineControl]),
        layers: layers,
        target: 'map',
        view: view

    });

    function hideLayer(layerName) {
        layerName.setVisible(false);
    }

    function toggleLayer(layerName) {
        if (layerName.getVisible() == true) {
            layerName.setVisible(false);
        } else {
            layerName.setVisible(true);
        }
    }

    map.on('click', function (evt) {
        var obj = document.getElementById('prog');
        obj.style.display = "block";
        $("#prog").html("Идёт загрузка данных, пожалуйста подождите.");
        var coordinate = evt.coordinate;
        var template = '{x}';
        var hdms = ol.coordinate.format(ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326'), template, 4);
        var res = "";
        var template = '{y}';
        document.getElementById('Latitude').value = deg_to_dms(hdms);
        document.getElementById('Lat_m').value = deg_to_dmsm(hdms);
        document.getElementById('Lat_s').value = deg_to_dmss(hdms);
        var hdms2 = ol.coordinate.format(ol.proj.transform(coordinate, 'EPSG:3857', 'EPSG:4326'), template, 4);
        document.getElementById('Lngitude').value = deg_to_dms(hdms2);
        document.getElementById('Lng_m').value = deg_to_dmsm(hdms2);
        document.getElementById('Lng_s').value = deg_to_dmss(hdms2);


        var Latitude = {
            Lngitude: deg_to_dms(hdms2),
            Lng_m: deg_to_dmsm(hdms2),
            Lng_s: deg_to_dmss(hdms2),
            Latitude: deg_to_dms(hdms),
            Lat_m: deg_to_dmsm(hdms),
            Lat_s: deg_to_dmss(hdms)
        };

        $.ajax({
            url: '/EGHMAP/CreateFromOTHER',
            type: 'POST',
            dataType: 'application/json',
            data: JSON.stringify(Latitude),
            contentType: 'application/json; charset=utf-8',
            dataFilter: function (data) {
                data = JSON.parse(data);
                var obj = document.getElementById('prog');
                obj.style.display = "none";
                var obj = document.getElementById('divv');
                obj.style.display = "block";

                $("#district").html(data.District);
                $("#region").html(data.Region);
                $("#city").html(data.City);

                $("#assoc_gr_1").html(data.Assoc_gr_1);
                $("#shtrih_cod").html(data.Shtrih_cod);
                $("#code_legen").html(data.Code_legen);
                $("#class_form").html(data.Class_form);
                $("#associastion").html(data.Associastion);
                $("#code_rgb").html(data.Code_rgb);
                $("#type_resty").html(data.Type_resty);
                $("#krap_code").html(data.Krap_code);
                $("#dop_code").html(data.Dop_code);
                $("#aeration_power").html(data.Aeration_power);
                $("#average_aeration_power").html(data.Average_aeration_power);
                $("#max_aeration_power").html(data.Max_aeration_power);
                $("#litology").html(data.Litology);

                $("#gorizont_power").html(data.Gorizont_power);
                $("#gorizont_name").html(data.Gorizont_name);
                $("#litologyQuat").html(data.LitologyQuat);
                $("#genesys_code").html(data.Genesys_code);
                $("#genetic_type").html(data.Genetic_type);
                $("#otdel").html(data.Otdel);
                $("#podotdel").html(data.Podotdel);
                $("#podgorizon").html(data.Podgorizon);
                $("#litology_code").html(data.Litology_code);
                $("#geology_index").html(data.Geology_index);
                $("#rgb").html(data.Rgb);
                $("#sistema").html(data.Sistema);
                $("#average_rad0").html(data.Average_rad0);
                $("#from_rad0").html(data.From_rad0);
                $("#to_rad0").html(data.To_rad0);

                $("#average_rad1").html(data.Average1);
                $("#from_rad1").html(data.From);
                $("#to_rad1").html(data.To);

   

                $("#districtt").html("Регион:");
                $("#regionn").html("Область:");
                $("#cityy").html("Наименование населеного пункта:");
                $("#assoc_gr_11").html("Группы ассоциации:");
                $("#shtrih_codd").html("Код штриховки:");
                $("#code_legenn").html("Код легенды:");
                $("#class_formm").html("Класс формации:");
                $("#associastionn").html("Ассоциации:");
                $("#code_rgbb").html("Цветовой код:");
                $("#type_restyy").html("Тип растительности:");
                $("#krap_codee").html("Код растительности:");
                $("#dop_codee").html("Дополнительный код:");

                $("#aeration_powerr").html("Объемный вес:");
                $("#average_aeration_powerr").html("Код генезиса:");
                $("#max_aeration_powerr").html("Код литологии:");
                $("#litologyy").html("Коэффициент задержки:");

                 $("#gorizont_powerr").html("Мощность первого горизонта:");
                $("#gorizont_namee").html("Наименование горизонта:");
                $("#litologyQuatt").html("Литология:");
                $("#genesys_codee").html("Код генезиса:");
                $("#genetic_typee").html("Генетический тип:");
                $("#otdell").html("Геологический отдел:");
                $("#podotdell").html("Подраздел геологического отдела:");
                $("#podgorizonn").html("Наименование горизонта:");
                $("#litology_codee").html("Код литологии:");
                $("#geology_indexx").html("Геологический индекс:");
                $("#rgbb").html("Код цветового обозначения:");
                $("#sistemaa").html("Геологическая система:");
                $("#average_rad00").html("Среднее значение:");
                $("#to_rad00").html("Верхняя граница:");
                $("#from_rad00").html("Нижняя граница:");
               
                $("#average_rad11").html("Среднее значение:");
                $("#to_rad11").html("Верхняя граница:");
                $("#from_rad11").html("Нижняя граница:");





            }
        });


    });


    function deg_to_dms(hdms) {
        var d = Math.floor(hdms);
        var minfloat = (hdms - d) * 60;
        var m = Math.floor(minfloat);
        var secfloat = (minfloat - m) * 60;
        var s = Math.round(secfloat);
        if (s == 60) {
            m++;
            s = 0;
        }
        if (m == 60) {
            d++;
            m = 0;
        }
        return (d);
    }
    function deg_to_dmsm(hdms) {
        var d = Math.floor(hdms);
        var minfloat = (hdms - d) * 60;
        var m = Math.floor(minfloat);
        var secfloat = (minfloat - m) * 60;
        var s = Math.round(secfloat);
        if (s == 60) {
            m++;
            s = 0;
        }
        if (m == 60) {
            d++;
            m = 0;
        }
        return (m);
    }
    function deg_to_dmss(hdms) {
        var d = Math.floor(hdms);
        var minfloat = (hdms - d) * 60;
        var m = Math.floor(minfloat);
        var secfloat = (minfloat - m) * 60;
        var s = Math.round(secfloat);
        if (s == 60) {
            m++;
            s = 0;
        }
        if (m == 60) {
            d++;
            m = 0;
        }
        return (s);
    }
    function centerMap() {
        var lonlat = document.getElementById('coords').value;
        var lonlat1 = lonlat.split(",");
        var lonlat2 = lonlat.split(",").map(Number);

        map.getView().setCenter(ol.proj.transform(lonlat2, 'EPSG:4326', 'EPSG:3857'));
        map.getView().setZoom(7.0);
    }
    var Modify = {
        init: function () {
            this.select = new ol.interaction.Select();
            map.addInteraction(this.select);

            this.modify = new ol.interaction.Modify({
                features: this.select.getFeatures()
            });
            map.addInteraction(this.modify);

            this.setEvents();
        },
        setEvents: function () {
            var selectedFeatures = this.select.getFeatures();

            this.select.on('change:active', function () {
                selectedFeatures.forEach(selectedFeatures.remove, selectedFeatures);
            });
        },
        setActive: function (active) {
            this.select.setActive(active);
            this.modify.setActive(active);
        }
    };
    Modify.init();

    var optionsForm = document.getElementById('options-form');

    var Draw = {
        init: function () {
            map.addInteraction(this.Point);
            this.Point.setActive(false);


        },
        Point: new ol.interaction.Draw({
            source: vector.getSource(),
            type: ('Point'),

        }),

        getActive: function () {
            return this.activeType ? this[this.activeType].getActive() : false;
        },
        setActive: function (active) {
            var type = optionsForm.elements['geom-type'].value;
            if (active) {
                this.activeType && this[this.activeType].setActive(false);
                this[type].setActive(true);
                this.activeType = type;
            } else {
                this.activeType && this[this.activeType].setActive(false);
                this.activeType = null;
            }
        }
    };
    Draw.init();

    optionsForm.onchange = function (e) {
        var type = e.target.getAttribute('name');
        var value = e.target.value;
        if (type == 'geom-type') {
            Draw.getActive() && Draw.setActive(true);
        } else if (type == 'interaction') {
            if (value == 'modify') {
                Draw.setActive(false);
                Modify.setActive(true);
            } else if (value == 'draw') {
                Draw.setActive(true);
                Modify.setActive(false);
            }
        }
    };

    Draw.setActive(true);
    Modify.setActive(false);

    var snap = new ol.interaction.Snap({
        source: vector.getSource()
    });
    map.addInteraction(snap);


    var clearButton = document.getElementById('clear');
    clearButton.addEventListener('click', function (event) {
        vector.getSource().clear();

    });

</script>

